@import url("https://fonts.googleapis.com/css2? family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0%;
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 1024px;
  max-height: 800px;
  margin: 0 auto;
}
/** body **/
.primerNav {
  background-color: #222222;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  padding: 0.5rem ;
}

.primerNav .hijoLeft{
  color: white;
  float: left;
  padding-left: 80px;
}

.primerNav .hijoRight{
  color: white;
  float: right;
}

.primerNav .hijoRigh select{
  color:white;
  float: right;
  appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}


main section nav div {
  display: flex;
  overflow: hidden;
  padding: 15px;
  color: white;
  width: 1024px;
  height: 62px;
  background-color: #f0a83e;
  color: white;
  align-items: center;
}

main section nav div .hijoLeft{
  float: left;
}

main section nav div .hijoRight{
  float: right;
}

main section nav div .hijoRight a{
  text-align: center;
  text-decoration: none;
  color: white;
  margin: 10px;
}

main section div img {
  position: relative;
  justify-content: space-evenly;
}

.menu {
  background-image: url(img/munu12.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1025px;
  height: 409px;
  display: flex;
  overflow: hidden;
  justify-content: end;
  align-items: center;
}

.menu .hijoRight{
  margin-right: 70px;
  float: right;
  text-align: center;
}

.menu .hijoRight h2{
  color: #3c2313;
  font-size: x-large;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.menu .hijoRight p{
  font-size: larger;
  margin: 15px;;
}

.menu .hijoRight button{
  background-color: #f0a83e;
  color: white;
  border-radius: 5px;
  width: 141px;
  height: 49px;
  top: 334px;
  cursor: pointer;
}


.venta {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 47px;
  margin-top: 25px;
}


.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.producto {
  background-color: #fbfaf6;
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem;
}

.naranja {
  color: #f0a83e;
  
}

.black {
  color: black;
  font-weight: 1000;
 
  
}

h3 {
  margin-top: 15px;
  text-align: center;
  height: 29px;
  font-family: "Roboto";
  color: #3c2313;
  font-weight: 700;
  font-size: 30px;
  margin-top: 25px;
}

.borde {
  margin-top: 15px;
  text-align: center;
  border-radius: 25px;
  width: 400px;
  height: 50px;
  background: #3c2313;
  color: white;
  cursor: pointer;
}
/** Botones **/
.contenedor {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.botonE {
  padding: 0;
  margin: 0;
  background-color: #f0a83e;
  color: white;
  font-display: flex;
  width: 150px;
  height: 50px;
  align-items: center;
  border: solid 1px transparent;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.4s ease;
  margin-right: 10px;
}

.botonE:hover {
  border-radius: 50px;
  transform: translateY(-5px);
  color: rgb(255, 255, 255);
  box-shadow: 0 5px 10px rgba(45, 206, 255, 0.5);
}

.botonR {
  padding: 0;
  margin: 0;
  background-color: #8a8787;
  color: white;
  justify-content: center;
  font-display: flex;
  width: 150px;
  height: 50px;
  align-items: center;
  border: solid 1px transparent;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.4s ease;
  margin-right: 10px;
}

.botonR:hover {
  border-radius: 50px;
  transform: translateY(-5px);
  color: rgb(255, 255, 255);
  box-shadow: 0 5px 10px rgba(45, 206, 255, 0.5);
}

/**Footer**/

.correos {
  padding: 15px;

  background-color: #f0a83e;
  margin-top: 10px;
  color: white;
  align-items: center;
  width: 1024px;
  display: flex;
  height: 80px;
  font-size: 21px;
  padding-left: 20;
}

.btn {
  text-align: center;
  border-radius: 25px;
  width: 271px;
  height: 50px;
  justify-content: space-around;
  margin-left: 220px;
  
  
}

.boton {
  border-radius: 50px;
  width: 95px;
  height: 50px;
  background: #3c2313;
  color: white;
  padding: 0;
  margin: 0;
  justify-content: center;
  font-display: flex;
  width: 150px;
  height: 50px;
  align-items: center;
  border: solid 1px transparent;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.boton:hover {
  border-radius: 50px;
  transform: translateY(-5px);
  background-color: #3c2313;
  color: rgb(255, 255, 255);
  box-shadow: 0 5px 10px rgba(45, 206, 255, 0.5);
}

.fondoCafe {
  margin: 0;
  padding: 25px;
  color: white;
  background-color: #3c2313;
}

.derechosReservados {
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: #FFFFFF;
  background-color: black;
  padding: 8px;
}

.mediosContacto{
  overflow: hidden;
}

.hijoFooterLeft{
  float: left;
}

.hijoFooteRight{  
  margin-top: 12%;
  float: right;
  align-items: stretch;
}

.hijoFooterLeft .fondoCafe img{
  display: inline-block;
  max-width: 58px;
}
.hijoFooterLeft .fondoCafe div{
  display: inline-block;
  margin-left: 20px;
}

.hijoFooterLeft .fondoCafe div h2{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}

.hijoFooterLeft .fondoCafe div p{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: #8A8787;
}

.d-flex{
  display: flex;
}
